/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important; 
    background-color: #fff !important;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar{
    position: fixed;
    height: 80px;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    transition: all 355ms ease-out;
   
}
.color-nav{
    background-color: #222;
    transition: all 355ms ease-out;
    z-index: 9999;
}

@font-face {
  font-family: "Mayan";
  src: url("../fonts/Mayan.ttf");
}

.logo img{
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
    width: 50% ;
    float: left;
    transition: all .5s ease-out;
}
.logo img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all .5s ease-out;
}
.menu{
    position: absolute;
    right: 20px;
    transition: all .5s ease-in-out;
}
.menu a{
    color: white;
    text-decoration: none !important;
    font-size: 20px;
    margin-left: 20px;
    transition: all .5s ease-in-out;
    font-family: "Mayan", cursive;
}
.menu a:hover{
    color: #618E94;
    transition: all .5s ease-in-out;
}

.btn-menu{
    display: none;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.btn-menu span{
    display: block;
    margin: 6px;
    width: 40px;
    height: 3.5px;
    background: white;
    transition: all .5s ease-in-out;
}
.btn-menu:hover > span{
    background: #618E94; 
    transition: all .5s ease-in-out;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .navbar{
        overflow: visible;
    }
    .menu{
        width: 100%;
        right: 0;
        top: 80px;
        overflow: hidden;
        max-height: 0;
        background-color: rgba(44,44,44,1);
        transition: all .5s ease-in-out;
    }
    .menu a{
        display: block;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
    }
    .btn-menu{
        display: block;
        cursor: pointer;
    }
    .show{
        max-height: 500px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .menu a:last-child{
    margin-right: 35px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    .menu a:last-child{
    margin-right: 35px;
    }
}

.header{
   background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
     url(../img/hero-bg.jpg);
    height: 100vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.contenido-header{
    text-align: center;
    padding-top: 65px;
}

nav.logo-principal img{
    width: 15%;
    margin-top: 40px;
    margin-bottom: 2px;
}

.slogan,
.slogan2{
    color: white;
    letter-spacing: 12px;
    font-family: 'Satisfy', cursive;
}

.slogan{
    font-weight: 700;
    font-size: 80px;
    margin: 0;
}
.slogan2{
    font-weight: 600;
    font-size: 30px;
    margin: 10px;
}
hr{
    margin: 0 auto;
    background-color: white;
    height: 3px;
    width: 500px;
    position: relative;
}
.wave{
    height: 100px;
    width: 100%;
    top: 88%;
    position: absolute;
}

/* Mobile Styles */
@media only screen and (min-width: 360px) and (max-width: 600px) {
  .header{
   background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5)
    ),
     url(../img/mobile-bg.png) !important;
    height: 100vh;
}
    nav.logo-principal img{
    width: 20%;
    margin-bottom: 50px;
}
    .slogan{
    font-size: 30px;
    margin-top: 50px;
}
.slogan2{
    font-weight: 600;
    font-size: 16px;
}
hr{
    margin: 0 auto;
    background-color: white;
    height: 3px;
    width: 300px;
    position: relative;
}
.wave{
    width: 120%;
}
}

/* Resoluciones mayores de 992 píxeles. */
@media only screen and (min-width: 992px) {
    .header{
       background-image: 
        linear-gradient(
          rgba(0, 0, 0, 0.1),
          rgba(0, 0, 0, 0.7)
        ),
         url(../img/hero-bg.jpg);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}




/*  S E C T I O N    A B O U T    U S  */

#about-us{
    padding: 100px 0;
    background-color: white;
}
#about-us h1{
    margin-left: 7%;
}
#about-us img{
    width: 550px;
}
.about-info{
    margin: 20px;
    padding: 30px;
    max-width: 600px;
}
.about-info p{
    text-align: justify;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
#about-us .btn-primary{
    margin-top: 50px;
    box-shadow: none;
    padding: 15px 65px;
    border: none;
    border-radius: 30px; 
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all .5s ease-in-out;
}
#about-us .btn-primary:hover{
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #about-us img{
        width: 100% !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #about-us .col-sm-8{
       flex: 0 0 100%; 
    }
    #about-us img{
        width: 250% !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    #about-us img{
        width: 400%;
        
    }
    .about-info{
    margin: 0 auto;
}
    #about-us .title-services {
        margin: 0 auto;
        text-align: center
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
/*  S E C T I O N    O U R    T E A M  */
#our-team{
    background-color: #F1F4F8;
    padding: 100px 50px;
}
.team-img{
    width: 235px;
    border-radius: 6px;
    pointer-events: none;
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}
.team-bg{
  background-color: #F1F4F8;  
}
.member-team{
    padding: 20px;
    margin-bottom: 10px;
}
.team-padding{
    padding-top: 50px;
}

.card-profile {
    margin-top: 35px;
    text-align: center;
}
.card{
    border: none;
}
.card {
    font-size: 1rem;
}

.card .card-header.card-header-image {
    position: relative;
    padding: 0;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
}
.card-plain .card-header:not(.card-avatar) {
    margin-left: 0;
    margin-right: 0;
    border: none;
    background-color: transparent;
}
.card .card-header.card-header-image .colored-shadow {
    transform: scale(.94);
    top: 12px;
    filter: blur(12px);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    transition: opacity .45s;
    opacity: 0;
}
.card-plain .card-body {
    padding-left: 5px;
    padding-right: 5px;
}
.card .card-body, .card .card-footer {
    padding: .9375rem .875rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card .card-title {
    margin-top: .625rem;
    font-weight: bold;
}
.card-description,  p {
    color: #999;
}
.category{
    font-weight: 700;
}
/*  S E C T I O N    S E R V I C I O S   */
#services{
    padding: 100px 0;
    background-color: white;
}

.service-img{
    width: 280px;
    margin-top: 20px;
}
.services{
    padding: 20px !important;
}
.services h4{
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    margin-top: 10px;
    text-transform: uppercase;
    color: #095993;
    font-weight: bold;
}
.services p{
    text-align: justify;
}
.title-services{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-size: 2.5em;
    color: #353b48 ;
    text-transform: uppercase;
}

#services .btn-primary{
    box-shadow: none;
    padding: 10px 35px;
    border: none;
    border-radius: 20px; 
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all .5s ease-in-out;
}
#services .btn-primary:hover{
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}



/*  S E C T I O N    A C T U A L I Z A T E   */

.actualizate{
    background: #f1f4f8;
    position: relative;
    display: block;
    padding: 100px 50px;
}
.contenedor{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.act-info{
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.act-info h3{
    font-size: 3.2rem;
    font-family: 'Satisfy', cursive;
    font-weight: 300;
    margin-top: 35px;
    margin-bottom: 40px;
    width: 100%;
    color: #385170;
}

.act-info p{
    text-align: justify;
    max-width: 1000px;
    margin-bottom: 30px;
    font-size: 18px;
    color: #313131;
    letter-spacing: 1px;
}

.tecnologia{
    position: relative;
    margin-top: 10px;
}

.tecnologia ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.tecnologia h3{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #385170;
    letter-spacing: 3px;
    margin-top: 50px;
}

.tecnologia ul li {
    list-style: none;
    align-self: center;
    text-decoration: none;
    padding: 18px;
    margin-left: 12px;
    margin-right: 12px;
    color: rgba(153, 145, 151,0.5);
    font-size: 35px;
}
.act-bg{
    position: absolute;
}
.act-bg img{
    position: relative;
    width: 85%;
    display: block;
    margin: 0 auto;
    transform: translate(0%, 0%);
    opacity: 0.115;
}

/* Mobile Styles */
@media only screen and (min-width: 360px) and (max-width: 600px) 
{
    .title-act h3{
        font-size: 2.5rem;
    }
    .act-info{
        padding: 15px; 
    }
    .tecnologia ul {
        justify-content: space-around;
    }
}




/*  S E C T I O N    W H Y  U S   */
#why-us{
    padding: 100px 50px;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
     url(../img/code.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.why-padding{
    padding-top: 60px;
}
.icon-why-us{
    font-size: 2em;
    color: white;
}
.icon-why-us::before{
    box-sizing: border-box;
}
.why-us-h4{
    font-weight:600; 
    color: white;
}
.text-wh{
    color: #f1f1f1;
}

/* Mobile Styles */
@media only screen and (min-width: 360px) and (max-width: 600px) 
{
    #why-us h2{
        font-size: 1.5rem;
    }
    #why-us p {
        text-align: justify !important;
    }
    #why-us{
       padding: 10px 30px; 
    }
}



/*  S E C T I O N    F O O T E R   */
.footer{
    background: #222;
}
.footer-widgets{
    padding: 90px 0 30px;
}
.widget{
    margin-bottom: 60px;
    font: 1rem; 
}
.widget-title{
    margin-bottom: 24px;
}
.widget-title >h6{
    text-transform: uppercase;
    letter-spacing: 2.6px;
    font-weight: 700;
    font-size: .6875rem;
    margin: 0;
    color: white;
}
.textwidget img{
    width: 40%;
    margin-bottom: 30px
}
.textwidget p{
    font-size: .875rem;
}
.social-icons{
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-icons > li{
    display: inline-block;
    margin: 0 20px 0 0;
}
.social-icons > li > a  {
    color: #cecece;
    font-size: 1.25rem;
}
.contacto-icons > li {
    color: #cecece;
    list-style: none;
    margin-bottom: 20px;
}
.contacto-icons li > i {
  padding: 20px;   
}
.contacto-icons li > span {
  padding: 30px;   
}
.text-bold{
    font-weight: bolder;
    font-size: 17px;
    color: #cecece;
}




/*  S E C T I O N    C O N T A C T O   */
#contact{
    padding: 100px 50px;
    background: white;
}
.shadow-lg {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.rounded {
    border-radius: 0.25rem !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.img-contact img{
    vertical-align: middle;
    border-style: none;
}
.btn-soft-info {
    color: #00B8D9;
    background-color: #ccf1f7;
    border-color: #ccf1f7;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
 .btn-icon .btn-inner--text:not(:first-child) {
    margin-left: 0.75em;
}
.btn-contact{
    padding: 12px;
    transition: all .5s ease-out;
}
.btn-contact:hover{
    background-color: #00B8D9;
    color: white;
    transform: scale(1.2);
    transition: all .5s ease-out;
}
@media only screen and (min-width: 360px) and (max-width: 600px) 
{
    #contact{
        padding: 80px 30px;
    }
    #contact h1{
        font-size: 1.5rem;
    }
    #contact p{
        font-size: 1.075rem;
    }
}


#build-site{
    height: 100vh;
    padding: 150px 50px;
    background-image: linear-gradient( 90deg,  #212059 11.1%, #10133e 81.3% );

}

.build-img img{
    width: 100%;
}
.build-img img{
    width: 100%;
    transform: translate(10%, -20%);
}

#build-site h4{
    font-size: 5em;
    font-weight: bolder;
    color: white;
    margin-bottom: 50px;
    text-transform: capitalize;
}
#build-site p{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-align: justify;
    margin-bottom: 50px;
    color: white;
    margin-right: 20px;
    font-family: 'Satisfy', cursive;

}
#build-site .btn{
    padding: 15px 70px;
    border: none;
    border-radius: 20px;
    background: white;
    color: #212059;
    transition: all .5s ease-out;
}
#build-site .btn:hover{
    transform: scale(1.1);
    transition: all .5s ease-out;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #build-site{
        height: 180vh;
    }
    .build-img img{
        width: 75%;
        transform: translate(15%, 0%);
        margin-top: 50px;
        margin-bottom: 50px;

    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

